.section-head {
    font-size: 20px;
    margin-bottom: 20px;
}

.shipping-info {
    padding: 10px;
}

#root {
    min-height: 100vh;
    #app-frame {
        min-height: inherit;
        #page-header {
            background-color: #00baff;
            height: 10vh;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            #header-text {
                font-size: 20px;
            }
        }
        #page-content {
            min-height: 85vh;
            #accepted-box {
                min-height:inherit;
                hr {
                    background-color: #00baff;
                    margin: 0;
                }
                #accepted-request {
                    box-shadow: 5px 5px 20px 3px;
                    border: 1px solid;
                    padding: 0 0 10px 10px;
                    margin-left: 20px;
                    max-width: 350px;
                    height: 180px;
                    position: absolute;
                    right: 35px;
                    bottom: 10vh;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    #exit-btn {
                        color: #00baff;
                        border: none;
                        background-color: transparent;
                        outline: none;
                        cursor: pointer;
                        i {
                            pointer-events: none;
                        }
                    }
                }
            }
            #rejected-box {
                min-height:inherit;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                #reject-text {
                   font-size: 20px; 
                }
            }
        }
        #page-footer {
            background-color: #00baff;
            height: 5vh;
        }
    }
}

